<div>
	<label>Dodajanje zaposlenega</label>
	<br>
	<div>
		<label>Ime:</label><br>
		<input type="text" ng-model="novZaposleni.Ime"/>
	</div>
	<div>
		<label>Priimek:</label><br>
		<input type="text" ng-model="novZaposleni.Priimek"/><br><br>
	</div>
		
	<div>
		<button class="btn btn-small btn-primary" ng-click="addZaposleni()">Dodaj zaposlenega</button>
	</div>
	<br/>
	<div class="panel panel-default col-md-5">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Zaposleni</div>
	  <table class="table">
	  	<thead>
	  		<tr>
	  			<th>Ime</th>
				<th>Priimek</th>
	  		</tr>
	  	</thead>
		<tr ng-repeat="zap in zaposleni">
			<td class="col-md-3">{{zap.ime}}</td>
			<td class="col-md-3">{{zap.priimek}}</td>
		</tr>

	  </table>
	</div>
</div>
