

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
        <div class="col-md-6">
          <h3>Nov task</h3>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-success" ng-click="nazaj()">Nazaj</button>
        <button class="btn btn-primary" ng-click="createTask()">Ustvari task</button>
    </div>
</div>


</div>

<div>
    <label>Naziv:</label><br>
    <input type="text" ng-model="novTask.naziv"/>
</div>
<div>
    <label>Čas izvedbe:</label><br>
    <input type="text" ng-model="novTask.casIzvedbe"/>
</div>
<div>
    <label>Opis:</label><br>
    <textarea rows="4" cols="80" ng-model="novTask.opis"></textarea>
</div>
<div>
    <label>Prioriteta:</label><br>
    <select ng-model="selectedItem" value="{{opt.value}}" ng-options="opt as opt.label for opt in options"</select>
</div>
</div>