<div class="well">
    <div class="row">
        <div class="col-md-6">
        <h3>Taski zaposlenega {{zaposleniImePriimek}}</h3>
    </div> 
    <div class="col-md-6 text-right">
            <a ng-click="nazaj()" role="button" class="btn btn-danger glyphicon glyphicon-remove"> Nazaj</a>
            <a ng-click="potrdiSpremembe(taskiZaposlenega,prostiTaski)" role="button" class="btn btn-success glyphicon glyphicon-ok"> Potrdi</a>
    </div>
    </div>
    
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><label>Taski zaposlenega</label></div>
  <table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Čas izvedbe</th>
            <th>Prioriteta</th>
            <th>Opis</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="task in taskiZaposlenega">
        <td class="col-md-2">{{task.naziv}}</td>
        <td class="col-md-2">{{task.casIzvedbe}}</td>
        <td class="col-md-1">{{task.prioriteta}}</td>
        <td class="col-md-6">{{task.opis}}</td>
        <td class="col-md-1">
            <a ng-click="odstraniTaskZaposlenemu(task,taskiZaposlenega,prostiTaski)" role="button" class="btn btn-danger glyphicon glyphicon-minus"/>
        </td>
    </tr>

</table>
</div>
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><label>Prosti taski na projektu</label></div>
  <table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Čas izvedbe</th>
            <th>Prioriteta</th>
            <th>Opis</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="task in prostiTaski">
        <td class="col-md-2">{{task.naziv}}</td>
        <td class="col-md-2">{{task.casIzvedbe}}</td>
        <td class="col-md-1">{{task.prioriteta}}</td>
        <td class="col-md-6">{{task.opis}}</td>
        <td class="col-md-1">
            <a ng-click="dodajTaskZaposlenemu(task,taskiZaposlenega,prostiTaski)" role="button" class="btn btn-success glyphicon glyphicon-plus"/>
        </td>
    </tr>

</table>
</div>
